{{ doctype('XHTML11') | raw }}

<html lang="en">
    <head>
        <base href="/" />
        <meta charset="utf-8" content="text/html" />
        {{ headTitle() | raw }}
        {{ headMeta() | raw }}

        <script src="/js/html5.js" type="text/javascript"></script>
        {{ headScript() | raw }}

        <link rel="shortcut icon" href="/images/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        {{ headLink() | raw }}

    </head>

    <body>

        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="{{ url('home') }}">ProjectQuery</a>
                    <ul class="nav">
                        <li class="active"><a href="{{ url('home') }}">Home</a></li>
                        <li><a href="{{ url('ze_auth') }}">Login</a></li>
                    </ul>
                </div>
            </div>
        </div> <!-- /topbar -->

        <div class="container">
            {{ content | raw }}

            <footer>
                <p>&copy; 2006 - {{ date('Y') }} by Around25 Srl. All rights reserved.</p>
            </footer>
        </div> <!-- /container -->

    </body>
</html>
